<%- include header.html %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <div class="container-fluid">
            <a data-target=".navbar-responsive-collapse" data-toggle="collapse" class="btn btn-navbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a href="/login" class="brand">空净产品后台管理平台</a>
            <div class="nav-collapse collapse navbar-responsive-collapse">
              <ul class="nav">
                <li class="active">
                  <a href="/adminManage/indexTop">主页</a>
                </li>
              </ul>
              <ul class="nav">
                <li>
                  <a href="/adminManage">管理员账户管理</a>
                </li>
              </ul>
              <ul class="nav">
                <li>
                  <a href="#">用户账户管理</a>
                </li>
              </ul>
              <ul class="nav">
                <li>
                  <a href="/appManage">APP管理</a>
                </li>
              </ul>
              <ul class="nav">
                <li>
                  <a href="#">推送管理</a>
                </li>
              </ul>
              <ul class="nav">
                <li>
                  <a href="#">社交管理</a>
                </li>
              </ul>
              <ul class="nav">
                <li>
                  <a href="/hardwareManage">设备管理</a>
                </li>
              </ul>
              <ul class="nav">
                <li>
                  <a href="/commodityManage">商品管理</a>
                </li>
              </ul>
              <ul class="nav">
                <li>
                  <a href="/commodityManage/purchase">订单管理</a>
                </li>
              </ul>
              <ul class="nav">
                <li>
                  <a href="/operateManage">操作日志</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="span9">
      <div class="page-header">
        <h1>
          你好<small><%= adminEmail %></small>
        </h1>
      </div>
      <div id="operateStatus"></div>
      <table id="adminTable" class="table table-hover table-striped">
        <thead>
        <tr>
          <th>
            AppId
          </th>
          <th>
            App名称
          </th>
          <th>
            App描述信息
          </th>
          <th>
            操作
          </th>
        </tr>
        </thead>
        <tbody>
        <% for(var num = 0; appList[num] !== undefined; num = num + 1) { %>
        <tr class="info">
          <td><%= appList[num].appId %></td>
          <td><%= appList[num].appName %></td>
          <td><%= appList[num].appInfo %></td>
          <td>
            <button id="addStart" class="btn btn-primary">添加启动页</button>
            <button id="addGuide" class="btn btn-primary">添加引导页</button>
            <button id="addCarousel" class="btn btn-primary">添加轮播页</button>
            <button id="queryDetail" class="btn btn-primary">查看详情</button>
          </td>
        </tr>
        <% } %>
        </tbody>
      </table>
      <a href="/appManage/appAdd" role="button" class="btn btn-info" target="_blank">添加App</a>
      <a href="/logout" role="button" class="btn">登出</a>
    </div>
  </div>
</div>
<%- include footer.html %>