<%- include header.html %>
<div class="ui grid">
  <div class="row">
    <div class="column">
      <div class="ui">
        <div class="ui huge menu">
          <div class="item">
            <img class="ui tiny image" src="/img/logo.png" height="100%">
          </div>
          <a class="item" href="/">
            <i class="cloud icon"></i>厂家平台
          </a>
          <div class="right menu">
            <div class="item">
              <i class="user icon"></i><%= adminName %>
            </div>
            <a class="item" href="/logout">
              <i class="sign out icon"></i>登出
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="three wide centered column segment">
        <div class="ui large vertical menu">
          <a class="active item" href="/adminManage"><i class="sitemap icon"></i>管理员账户管理</a>
          <a class="item" href="#"><i class="users icon"></i>用户账户管理</a>
          <a class="item" href="/appManage"><i class="mobile icon"></i>App管理</a>
          <a class="item" href="#"><i class="external icon"></i>推送管理</a>
          <a class="item" href="/rankManage"><i class="qq icon"></i>排行榜管理</a>
          <a class="item" href="/hardwareManage"><i class="laptop icon"></i>设备管理</a>
          <div class="ui dropdown item">
            商城管理
            <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item" href="/commodityManage"><i class="shop icon"></i>商品管理</a>
              <a class="item" href="/commodityManage/purchase"><i class="table icon"></i>订单管理</a>
            </div>
          </div>
          <a class="item" href="/operateManage"><i class="file text icon"></i>操作日志</a>
          <a class="item" href="/feedBackManage"><i class="red bug icon"></i>用户反馈</a>
          <div class="ui dropdown item">
            维修管理
            <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item" href="/repairManage/repairman"><i class="green doctor icon"></i>维修人员管理</a>
              <a class="item" href="/repairManage/repair"><i class="teal dashboard icon"></i>维修订单管理</a>
            </div>
          </div>
        </div>
    </div>
    <div class="twelve wide centered column">
      <table class="ui small celled blue table">
        <thead>
        <tr>
          <th>名字</th>
          <th>账号</th>
          <th>创建时间</th>
          <th>登录时间</th>
          <th>等级</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr class="warning">
          <td><div class="ui ribbon label"><%= adminList[0].adminName %></div></td>
          <td><%= adminList[0].adminEmail %></td>
          <td><%= adminList[0].adminCreateDate.toLocaleString() %></td>
          <td><%= adminList[0].adminLoginDate.toLocaleString() %></td>
          <td><% if(adminList[0].Level === '1'){ %>
            <i class="attention icon"></i><%= '一级管理员' %>
            <% } else if(adminList[0] === '2') { %>
            <%= '二级管理员' %>
            <% } %></td>
          <td>
            <a href="#" role="button" class="ui black disabled button">删除</a>
          </td>
        </tr>
        <% for(var num = 1; adminList[num] !== undefined; num = num + 1) { %>
        <tr class="info">
          <td><%= adminList[num].adminName %></td>
          <td><%= adminList[num].adminEmail %></td>
          <td><%= adminList[num].adminCreateDate.toLocaleString() %></td>
          <td><%= adminList[num].adminLoginDate.toLocaleString() %></td>
          <td><% if(adminList[num].Level === '1'){ %>
            <%= '一级管理员' %>
            <% } else if(adminList[num].Level === '2') { %>
            <%= '二级管理员' %>
            <% } %></td>
          <td><% if(adminList[0].adminEmail === adminEmail){ %>
            <a href="#" role="button" class="negative ui button">删除</a>
            <% } else { %>
            <a href="#" role="button" class="ui black disabled button">删除</a>
            <% } %>
          </td>
        </tr>
        <% } %>
        </tbody>
        <tfoot class="full-width">
        <tr>
          <th colspan="6">
            <% if(adminList[0].adminEmail === adminEmail){ %>
            <a class="ui right floated small primary labeled icon button" href="/adminManage/adminAdd">
              <i class="add user icon"></i>添加二级管理员
            </a>
            <% } else { %>
            <a class="ui right floated small block  labeled icon disabled button">
              <i class="add user icon"></i>添加二级管理员
            </a>
            <% } %>
          </th>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<%- include footer.html %>