<%- include header.html %>
<!-- 需要后台填入的数据 -->
<script type="text/javascript">
  // 后台的 url 信息，例子：http://服务器IP/production
  //window.url = "http://115.159.79.110:6060/milkProduction";
  window.url = "http://localhost:3000/feedBackManage";
  // 月，如果没有则填入 null
  window.month = getUrlParam('month');
  // 周，如果没有则填入 null
  window.week = getUrlParam('week');
  // 日，如果没有则填入 null
  window.date = getUrlParam('date');
  //开始时间
  window.dateStart = getUrlParam('dateStart');
  //结束时间
  window.dateEnd = getUrlParam('dateEnd');

  //获取url里的参数
  function getUrlParam(name) {

    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
    var r = window.location.search.substr(1).match(reg);

    if (r != null) {

      return unescape(r[2]);

    }
    return null;
  }
  function setTime(){
    var currentTime = new Date().toLocaleString();
    $('#htmer_time').val(currentTime);
  }
  setInterval(setTime,1000);
</script>
<div class="ui grid">
  <div class="row">
    <div class="column">
      <div class="ui">
        <div class="ui huge menu">
          <div class="item">
            <img class="ui tiny image" src="/img/logo.png" height="100%">
          </div>
          <a class="item" href="/">
            <i class="cloud icon"></i>厂家平台
          </a>
          <div class="right menu">
            <div class="item">
              <i class="user icon"></i><%= adminName %>
            </div>
            <a class="item" href="/logout">
              <i class="sign out icon"></i>登出
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="three wide centered column segment">
      <div class="ui large vertical menu">
        <a class="item" href="/adminManage"><i class="sitemap icon"></i>管理员账户管理</a>
        <a class="item" href="#"><i class="users icon"></i>用户账户管理</a>
        <a class="item" href="/appManage"><i class="mobile icon"></i>App管理</a>
        <a class="item" href="#"><i class="external icon"></i>推送管理</a>
        <a class="item" href="/rankManage"><i class="qq icon"></i>排行榜管理</a>
        <a class="item" href="/hardwareManage"><i class="laptop icon"></i>设备管理</a>
        <div class="ui dropdown item">
          商城管理
          <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item" href="/commodityManage"><i class="shop icon"></i>商品管理</a>
            <a class="item" href="/commodityManage/purchase"><i class="table icon"></i>订单管理</a>
          </div>
        </div>
        <a class="item" href="/operateManage"><i class="file text icon"></i>操作日志</a>
        <a class="active item" href="/feedBackManage"><i class="red bug icon"></i>用户反馈</a>
        <div class="ui dropdown item">
          维修管理
          <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item" href="/repairManage/repairman"><i class="green doctor icon"></i>维修人员管理</a>
            <a class="item" href="/repairManage/repair"><i class="teal dashboard icon"></i>维修订单管理</a>
          </div>
        </div>
      </div>
    </div>
    <div class="twelve wide centered column">
      <div class="row">
        <div class="ui three column doubling stackable grid container">
          <div class="column">
            <div class="ui big selection">
              <i class="calendar icon"></i>
              <label for="timeRange">选择时间</label>
              <select class="ui selection dropdown" id="timeRange">
                <option>请选择时间</option>
                <option value="today">当天</option>
                <option value="week">最近一周</option>
                <option value="month">最近一月</option>
                <option value="custom">自定时间</option>
              </select>
            </div>
          </div>
          <div class="column">
            <div class="ui labeled input">
              <label class="ui label" for="datetimepickerStart" data-value="time" style="display: none;">开始日期</label>
              <input type="text" style="display: none;" id="datetimepickerStart"
                     data-date-format="yyyy-mm-dd">
            </div>
          </div>
          <div class="column">
            <div class="ui labeled input">
              <label class="ui label" for="datetimepickerEnd" data-value="time" style="display: none;">结束日期</label>
              <input type="text" class="form-control" style="display: none;" id="datetimepickerEnd" data-date-format="yyyy-mm-dd">
            </div>
          </div>
        </div>
      </div>
      <% if(typeof(errorMessage) !== 'undefined') {%>
      <div class="ui message transition">
        <i class="close icon"></i>
        <div class="header">提示</div>
        <p><%= errorMessage %></p>
      </div>
      <% } else { %>
      <table class="ui small celled blue table">
        <thead>
        <tr>
          <th>appId</th>
          <th>用户Id</th>
          <th>内容</th>
          <th>上传时间</th>
          <th>图片</th>
          <th>音频路径</th>
        </tr>
        </thead>
        <tbody>
        <% for(var num = 0; feedBackList[num] !== undefined; num = num + 1) {
        var micUrl = feedBackList[num].picKey.split(";");
        var domain = "http://7xsprr.com2.z0.glb.qiniucdn.com/"; %>
        <tr>
          <td><%= feedBackList[num].appId %></td>
          <td><%= feedBackList[num].userId %></td>
          <td><%= feedBackList[num].feedBackContent %></td>
          <td><%= feedBackList[num].uploadDate.toLocaleString() %></td>
          <td><div class="ui tiny images">
            <% for(var micNum = 0; micNum < (micUrl.length - 1); micNum++) { %>
            <a href="<%= (domain + micUrl[micNum]) %>" target="_blank">
              <img src="<%= (domain + micUrl[micNum]) %>" alt="Cinque Terre" width="100" height="100">
            </a>
            <% } %>
          </div></td>
          <td><%= feedBackList[num].micKey %></td>
        </tr>
        <% } %>
        </tbody>
      </table>
      <% } %>
    </div>
  </div>
</div>
<%- include footer.html %>