  <script src="/vendor/jquery.min.js"></script>
  <script src="/vendor/bootstrap.min.js"></script>
  <script src="/vendor/jquery.uploadfile.min.js"></script>
  <script src="/semantic/dist/semantic.min.js"></script>
  <script src="/javascripts/feedBackManage.js"></script>
  <script src="/vendor/bootstrap-datetimepicker.min.js"></script>
  <script src="/vendor/bootstrap-datetimepicker.zh-CN.js"></script>
  <!--腾讯地图API-->
  <script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp&key=YOUR_KEY"></script>

</body>
</html>