<%- include header.html %>
<div class="container-fluid" id="LG">
  <div class="row-fluid">
    <div class="span12">
      <h3 class="text-center">
        厂家平台
      </h3>
      <form class="form-horizontal" method="post" action="/loginTop">
        <% if(typeof(errorMessage) !== 'undefined') {%>
        <div class="alert alert-danger">
          <h4>提示!</h4>
          <strong>警告!</strong> <%= errorMessage %>
        </div>
        <% } %>
        <div class="control-group">
          <span class="info">一级管理员登录</span>
        </div>
        <div class="control-group">
          <label class="control-label" for="adminEmail">账号</label>
          <div class="controls">
            <input id="adminEmail" type="email" name="adminEmail" placeholder="请输入您的账号" required="required"/>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="adminPassword">密码</label>
          <div class="controls">
            <input id="adminPassword" type="password" name="adminPassword" placeholder="请输入您的密码" required="required"/>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <label class="checkbox"><input type="checkbox" />记住我</label>
            <button type="submit" class="btn">登录</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<%- include footer.html %>