<%- include header.html %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <div class="container-fluid">
            <a data-target=".navbar-responsive-collapse" data-toggle="collapse" class="btn btn-navbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a href="/login" class="brand">空净产品后台管理平台</a>
            <div class="nav-collapse collapse navbar-responsive-collapse">
              <ul class="nav">
                <li>
                  <a href="/adminManage/indexTop">主页</a>
                </li>
              </ul>
              <ul class="nav">
                <li>
                  <a href="/adminManage">管理员账户管理</a>
                </li>
              </ul>
              <ul class="nav">
                <li>
                  <a href="#">用户账户管理</a>
                </li>
              </ul>
              <ul class="nav">
                <li>
                  <a href="/appManage">APP管理</a>
                </li>
              </ul>
              <ul class="nav">
                <li>
                  <a href="#">推送管理</a>
                </li>
              </ul>
              <ul class="nav">
                <li>
                  <a href="#">社交管理</a>
                </li>
              </ul>
              <ul class="nav">
                <li class="active">
                  <a href="/hardwareManage">设备管理</a>
                </li>
              </ul>
              <ul class="nav">
                <li>
                  <a href="/commodityManage">商品管理</a>
                </li>
              </ul>
              <ul class="nav">
                <li>
                  <a href="/commodityManage/purchase">订单管理</a>
                </li>
              </ul>
              <ul class="nav">
                <li>
                  <a href="#">操作日志</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="span9">
      <div class="page-header">
        <h1>
          你好<small><%= adminEmail %></small>
        </h1>
      </div>
      <div id="operateStatus"></div>
      <table id="adminTable" class="table table-hover table-striped">
        <thead>
        <tr>
          <th>
            设备名
          </th>
          <th>
            设备Id
          </th>
          <th>
            拥有者Id
          </th>
          <th>
            工作模式
          </th>
          <th>
            最近登录时间
          </th>
          <th>
            最近登录IP
          </th>
          <th>
            登录状态
          </th>
        </tr>
        </thead>
        <tbody>
        <% for(var num = 0; hardwareList[num] !== undefined; num = num + 1) { %>
        <tr class="info">
          <td><%= hardwareList[num].deviceName %></td>
          <td><%= hardwareList[num].devTid %></td>
          <td><%= hardwareList[num].ownerUid %></td>
          <td><%= hardwareList[num].workModeType %></td>
          <td><%= hardwareList[num].lastLoginTime %></td>
          <td><%= hardwareList[num].connectIp %></td>
          <% if(hardwareList[num].online === false) { %>
          <td><%= '离线' %></td>
          <% } else { %>
          <td><%= '在线' %></td>
          <% } %>
        </tr>
        <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%- include footer.html %>