<%- include header.html %>
<div class="ui grid">
  <div class="row">
    <div class="column">
      <div class="ui">
        <div class="ui huge menu">
          <div class="item">
            <img class="ui tiny image" src="/img/logo.png" height="100%">
          </div>
          <a class="item" href="/">
            <i class="cloud icon"></i>厂家平台
          </a>
          <div class="right menu">
            <div class="item">
              <i class="user icon"></i><%= adminName %>
            </div>
            <a class="item" href="/logout">
              <i class="sign out icon"></i>登出
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="three wide centered column segment">
      <div class="ui large vertical menu">
        <a class="item" href="/adminManage"><i class="sitemap icon"></i>管理员账户管理</a>
        <a class="item" href="#"><i class="users icon"></i>用户账户管理</a>
        <a class="item" href="/appManage"><i class="mobile icon"></i>App管理</a>
        <a class="item" href="#"><i class="external icon"></i>推送管理</a>
        <a class="item" href="/rankManage"><i class="qq icon"></i>社交管理</a>
        <a class="item" href="/hardwareManage"><i class="laptop icon"></i>设备管理</a>
        <div class="ui dropdown item">
          商城管理
          <i class="dropdown icon"></i>
          <div class="menu">
            <a class="active item" href="/commodityManage"><i class="shop icon"></i>商品管理</a>
            <a class="item" href="/commodityManage/purchase"><i class="table icon"></i>订单管理</a>
          </div>
        </div>
        <a class="item" href="/operateManage"><i class="file text icon"></i>操作日志</a>
        <a class="item" href="/feedBackManage"><i class="red bug icon"></i>用户反馈</a>
      </div>
    </div>
    <div class="twelve wide centered column">
      <table class="ui small celled blue table">
        <thead>
        <tr>
          <th>商品编号</th>
          <th>商品名</th>
          <th>单价</th>
          <th>库存</th>
          <th>售出数量</th>
          <th>图片链接</th>
          <th>商品分类</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <% var domain = "http://localhost:3000" %>
        <% for(var num = 0; commodityList[num] !== undefined; num = num + 1) { %>
        <tr>
          <td><%= commodityList[num].id %></td>
          <td><%= commodityList[num].commodityName %></td>
          <td><%= commodityList[num].commodityPrice %></td>
          <td><%= commodityList[num].commodityStock %></td>
          <td><%= commodityList[num].commoditySold %></td>
          <td><img class="ui centered tiny image" src="<%= domain + commodityList[num].commodityImg.substring(6).replace(/\\/g, '/') %>"></td>
          <td><%= commodityList[num].commodityCategories %></td>
          <td><button class="negative ui tiny button">删除商品</button>
            <button class="ui tiny blue button">修改商品信息</button></td>
        </tr>
        <% } %>
        </tbody>
        <tfoot class="full-width">
        <tr>
          <th colspan="8">
            <a class="ui right floated small primary labeled icon button" href="/commodityManage/commodityAdd">
              <i class="add icon"></i>添加商品
            </a>
          </th>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<%- include footer.html %>