<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">

  <title><%= title %></title>

  <script type="text/javascript" src="/javascripts/jquery-2.2.0.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.uploadfile.min.js"></script>

  <link rel="stylesheet" href="/stylesheets/bootstrap-combined.min.css" media="screen">
  <link rel="stylesheet" href="/stylesheets/uploadfile.css" media="screen">
</head>
<body>